In [35]:
# import the required libraries
import os
import re
import csv
import pandas as pd
import numpy as np

In [102]:
folderlink = 'data//'
input_file = os.path.join(folderlink, 'new_predikanten.csv')
output_txt = folderlink+'output.txt'
output_csv = folderlink+'output_file.csv'
folder_output = 'output//'

In [103]:
# Panda settings for showing data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [104]:
df = pd.read_csv(input_file, sep=',', encoding='utf-8')

In [105]:
df.tail(20)

,pid,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden
53493,28914,ZH,Dordrecht,Molenaarsgraaf,NaN,Monhemius; Johannes Adolph Frederik,NaN,NaN,NaN,1787,NaN,NaN,NaN,1791.0,NaN
53494,28915,ZH,Dordrecht,Molenaarsgraaf,NaN,Hartwijk; Jacobus,NaN,NaN,NaN,1792,NaN,NaN,NaN,1795.0,NaN
53495,28916,ZH,Dordrecht,Molenaarsgraaf,NaN,Elkman; Dirk Philippus,NaN,NaN,NaN,1796,NaN,NaN,NaN,1797.0,NaN
53496,28918,ZH,Dordrecht,Molenaarsgraaf,NaN,Janssen; Godfried,NaN,NaN,NaN,1797,NaN,NaN,NaN,1849.0,NaN
53497,28917,ZH,Dordrecht,Molenaarsgraaf,NaN,Schotsman; Nicolaas,NaN,NaN,NaN,1797,NaN,NaN,NaN,1797.0,NaN
53498,20669,FR,Dokkum,Holwerd,NaN,Napjus; Leonardus,NaN,NaN,NaN,1798,NaN,NaN,NaN,1824.0,NaN
53499,37360,GE,Zutphen,Rekken,NaN,Linden van der; Johannes Hendrik,NaN,NaN,NaN,1802,NaN,NaN,NaN,1805.0,NaN
53500,37361,GE,Zutphen,Rekken,NaN,Immink; Gerhardus Wilhelmus,NaN,NaN,NaN,1805,NaN,NaN,NaN,1806.0,NaN
53501,37362,GE,Zutphen,Rekken,NaN,Buekers; Gerhardus Wilhelmus,NaN,NaN,NaN,1807,NaN,NaN,NaN,1853.0,NaN
53502,31108,GE,NaN,Nijkerk,III,Baan;M.,Putten 20,NaN,NaN,1987,NaN,NaN,NaN,NaN,NaN
53503,13691,DR,NaN,Gasselte,NaN,Bij; Tj. van der,hulppredikant,NaN,NaN,1973,pred.in Herv.kerk,23.0,april,1978.0,NaN
53504,28988,FR,NaN,Molkwerum,NaN,Bochanen-van Amstel;mevrouw A.J.,( Warns),1.0,NaN,1984,NaN,17.0,NaN,1989.0,parttime
53505,23624,DR,NaN,Kolderveen,NaN,Gerretsen; H.A.,NaN,14.0,NaN,1899,NaN,20.0,NaN,1902.0,NaN
53506,14430,NB,NaN,Ginneken c.a.,NaN,Stutterheim; F.W. Austerlitz,NaN,28.0,NaN,1886,NaN,1.0,NaN,1916.0,NaN
53507,38264,ZH,NaN,Rockanje,NaN,Verweij;H.J.E.,kandidaat,5.0,mei,1895,NaN,NaN,NaN,1899.0,NaN
53508,53647,NH,NaN,Amsterdam,NaN,Abbing; P.J. Roscam,Loosduinen,21.0,juni,1922,emeritaat,1.0,maart,1936.0,NaN
53509,53648,GE,Zutphen,Ter Borg,NaN,Ingen; Hermannus van,NaN,NaN,NaN,1775,NaN,NaN,NaN,1788.0,NaN
53510,53649,DR,NaN,Dalen,NaN,Keiser;J.G. Busch,Noorddijk,19.0,mei,1898,emeritaat,1.0,november,1901.0,NaN
53511,53650,FR,NaN,Beers c.a.,NaN,Kijlstra; J. Jansonius,Rottum,NaN,NaN,1856,emeritaat,NaN,NaN,1902.0,NaN
53512,53651,ZH,Schieland,Charlois,NaN,s Gravezande; Petrus Adrianus,NaN,NaN,NaN,1777,NaN,NaN,NaN,1782.0,NaN

In [106]:
df['Count'] = df['predikant'].str.count(';')

In [107]:
# Define a function to add semicolon after the first word, conditionally based on 'test' column
def add_semicolon_after_first_word(row):
    string = row['predikant']
    count_value = row['Count']
    if count_value == 0:
        words = string.split()
        if len(words) > 1:
            words[0] += ';'
        string = ' '.join(words)
    return string

# Apply the function to the 'Column' column, based on the condition in the 'test' column
df['predikant'] = df.apply(add_semicolon_after_first_word, axis=1)

In [108]:
df[['surname', 'name']] = df['predikant'].str.split(';',  n=1, expand=True)

In [109]:
df = df.drop(['Count'], axis=1)

In [110]:
df['Count'] = df['predikant'].str.count(';')

In [111]:
sorted_df = df.sort_values('Count') #, ascending=False)

In [112]:
count = (df['Count'] == 1).sum()
print(count)

53513

In [113]:
count = (df['Count'] == 0).sum()
print(count)

0

In [114]:
count = (df['Count'] == 2).sum()
print(count)

0

In [115]:
selected_rows = df[df['Count'] != 1]

In [116]:
selected_rows.head(100)

Empty DataFrame
Columns: [pid, provincie, classis, gemeente, wijk, predikant, Herkomst, dag intrede, maand intrede, jaar intrede, vertrek naar of vanwege, dag vertrek, maand vertrek, jaar vertrek, Bijzonderheden, surname, name, Count]
Index: []

In [86]:
selected_rows.to_csv(folderlink+folder_output+'errors.csv', sep=';', encoding='utf-8', index=False)

In [17]:
Count_1_rows = df[df['Count'] == 1]

In [18]:
Count_1_rows = df.drop(['predikant'], axis=1)

In [19]:
Count_1_rows.to_csv(folderlink+folder_output+'count_1_rows.csv', sep=';', encoding='utf-8', index=False)