In [1]:
# import the required libraries
import os
import re
import csv
import pandas as pd
import numpy as np

In [2]:
folderlink = 'data//'
input_file = os.path.join(folderlink, 'predikanten.csv')
output_txt = folderlink+'output.txt'
output_csv = folderlink+'output_file.csv'
folder_output = 'output//'

In [3]:
# Panda settings for showing data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
df = pd.read_csv(input_file, sep=';', encoding='utf-8')

In [6]:
df['Count'] = df['predikant'].str.count(';')

In [8]:
# Define a function to add semicolon after the first word, conditionally based on 'test' column
def add_semicolon_after_first_word(row):
    string = row['predikant']
    count_value = row['Count']
    if count_value == 0:
        words = string.split()
        if len(words) > 1:
            words[0] += ';'
        string = ' '.join(words)
    return string

# Apply the function to the 'Column' column, based on the condition in the 'test' column
df['predikant'] = df.apply(add_semicolon_after_first_word, axis=1)

In [9]:
df[['surname', 'name']] = df['predikant'].str.split(';',  n=1, expand=True)

In [10]:
df = df.drop(['Count'], axis=1)

In [11]:
df['Count'] = df['predikant'].str.count(';')

In [12]:
sorted_df = df.sort_values('Count') #, ascending=False)

In [13]:
count = (df['Count'] == 1).sum()
print(count)

52829

In [14]:
count = (df['Count'] == 0).sum()
print(count)

27

In [15]:
count = (df['Count'] == 2).sum()
print(count)

782

In [16]:
selected_rows = df[df['Count'] != 1]

In [17]:
selected_rows.head(10)

,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,surname,name,Count
0,NH,NaN,Andijk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NH,NaN,Amstelveen,Wijk 4,NaN,e o,30.0,november,1975.0,emeritaat,1.0,augustus,1985.0,NaN,NaN,NaN,NaN
3,NH,NaN,Amsterdam,Amstelkerk,NaN,NaN,NaN,NaN,NaN,eervol ontslag,2.0,september,1979.0,NaN,NaN,NaN,NaN
4,GE,NaN,Doetinchem,ziekenhuizen,NaN,Doetinchem,1.0,januari,1971.0,emeritaat,1.0,mei,1979.0,NaN,NaN,NaN,NaN
5,GR,NaN,Groningen,6,NaN,Weesp,4.0,mei,1902.0,overleden.,16.0,januari,1907.0,NaN,NaN,NaN,NaN
6,ZH,Schieland,Hillegersberg Hillenius; Cornelius,NaN,NaN,NaN,NaN,NaN,1591.0,NaN,NaN,NaN,1596.0,NaN,NaN,NaN,NaN
7,ZH,NaN,Rotterdam-Hillegersberg,NaN,NaN,NaN,26.0,juni,1983.0,R'dam Delfshaven (Sofia Ziekenhuis),10.0,september,1989.0,NaN,NaN,NaN,NaN
167,GE,NaN,Didam,NaN,Abbema;; van Pibo Ovitius,NaN,NaN,NaN,1596.0,NaN,NaN,NaN,1597.0,NaN,Abbema,; van Pibo Ovitius,2.0
224,FR,NaN,Dongjum,NaN,Abbringh;; Albertus Jacobus Hector,NaN,NaN,NaN,1795.0,NaN,NaN,NaN,1797.0,NaN,Abbringh,; Albertus Jacobus Hector,2.0

In [18]:
selected_rows.to_csv(folderlink+folder_output+'errors.csv', sep=';', encoding='utf-8', index=False)

In [19]:
Count_1_rows = df[df['Count'] == 1]

In [20]:
Count_1_rows = df.drop(['predikant'], axis=1)

In [21]:
Count_1_rows.to_csv(folderlink+folder_output+'count_1_rows.csv', sep=';', encoding='utf-8', index=False)