In [1]:
# import the required libraries
import os
import re
import csv
import pandas as pd
import numpy as np

In [7]:
folderlink = 'C://temp//digidure//08062023//'
input_file = os.path.join(folderlink, 'predikanten2.csv')
output_txt = folderlink+'output.txt'
output_csv = folderlink+'output_file.csv'
folder_output = 'output//'

In [8]:
# Panda settings for showing data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [9]:
df = pd.read_csv(input_file, sep=';', encoding='utf-8')

In [10]:
df['Count'] = df['predikant'].str.count(';')

In [16]:
# Define a function to add semicolon after the first word, conditionally based on 'test' column
def add_semicolon_after_first_word(row):
    string = row['predikant']
    count_value = row['Count']
    if count_value == 0:
        words = string.split()
        if len(words) > 1:
            words[0] += ';'
        string = ' '.join(words)
    return string

# Apply the function to the 'Column' column, based on the condition in the 'test' column
df['predikant'] = df.apply(add_semicolon_after_first_word, axis=1)

In [17]:
df[['surname', 'name']] = df['predikant'].str.split(';',  n=1, expand=True)

In [18]:
df = df.drop(['Count'], axis=1)

In [19]:
df['Count'] = df['predikant'].str.count(';')

In [20]:
sorted_df = df.sort_values('Count') #, ascending=False)

In [21]:
count = (df['Count'] == 1).sum()
print(count)

53590

In [22]:
count = (df['Count'] == 0).sum()
print(count)

27

In [23]:
count = (df['Count'] == 2).sum()
print(count)

21

In [24]:
selected_rows = df[df['Count'] != 1]

In [25]:
selected_rows.head(100)

,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,surname,name,Count
0,NH,NaN,Andijk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NH,NaN,Amstelveen,Wijk 4,NaN,e o,30.0,november,1975.0,emeritaat,1.0,augustus,1985.0,NaN,NaN,NaN,NaN
3,NH,NaN,Amsterdam,Amstelkerk,NaN,NaN,NaN,NaN,NaN,eervol ontslag,2.0,september,1979.0,NaN,NaN,NaN,NaN
4,GE,NaN,Doetinchem,ziekenhuizen,NaN,Doetinchem,1.0,januari,1971.0,emeritaat,1.0,mei,1979.0,NaN,NaN,NaN,NaN
5,GR,NaN,Groningen,6,NaN,Weesp,4.0,mei,1902.0,overleden.,16.0,januari,1907.0,NaN,NaN,NaN,NaN
6,ZH,Schieland,Hillegersberg Hillenius; Cornelius,NaN,NaN,NaN,NaN,NaN,1591.0,NaN,NaN,NaN,1596.0,NaN,NaN,NaN,NaN
7,ZH,NaN,Rotterdam-Hillegersberg,NaN,NaN,NaN,26.0,juni,1983.0,R'dam Delfshaven (Sofia Ziekenhuis),10.0,september,1989.0,NaN,NaN,NaN,NaN
736,NH,Hoorn,Opperdoes,NaN,Albertus,NaN,NaN,NaN,1576.0,NaN,NaN,NaN,1583.0,NaN,Albertus,None,0.0
1074,NH,Hoorn,Hauwert,NaN,Ams.....,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,1596.0,NaN,Ams.....,None,0.0
1695,NH,Hoorn,Abbekerk,NaN,Augustinus,NaN,NaN,NaN,1573.0,NaN,NaN,NaN,1580.0,NaN,Augustinus,None,0.0
3596,NH,Hoorn,Oostwoud,NaN,Bernardus,NaN,NaN,NaN,1573.0,NaN,NaN,NaN,1580.0,NaN,Bernardus,None,0.0
5050,ZH,NaN,Moerkapelle,NaN,Boertje;A;,Herkingen,2.0,november,1958.0,Krimpen ad Lek,29.0,september,1968.0,NaN,Boertje,A;,2.0
5301,ZH,Schiland,Bleiswijk,NaN,Bolsius (ook IJlstanus Bolswerdiensis; Caecus = de Blinde); Jan Jansz.,NaN,NaN,NaN,1578.0,NaN,NaN,NaN,1580.0,NaN,Bolsius (ook IJlstanus Bolswerdiensis,Caecus = de Blinde); Jan Jansz.,2.0
5302,FR,Bolsward,Bolsward,NaN,Bolsius (ook IJlstanus Bolswerdiensis; Caecus = de Blinde); Jan Jansz.,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,1580.0,NaN,Bolsius (ook IJlstanus Bolswerdiensis,Caecus = de Blinde); Jan Jansz.,2.0
5303,NH,Enkhuizen,Bovenkarspel,NaN,Bolsius (ook IJlstanus Bolswerdiensis; Caecus = de Blinde); Jan Jansz.,NaN,NaN,NaN,1575.0,NaN,NaN,NaN,1577.0,NaN,Bolsius (ook IJlstanus Bolswerdiensis,Caecus = de Blinde); Jan Jansz.,2.0
5304,NH,Enkhuizen,Hem,NaN,Bolsius (ook IJlstanus Bolswerdiensis; Caecus = de Blinde); Jan Jansz.,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,1592.0,NaN,Bolsius (ook IJlstanus Bolswerdiensis,Caecus = de Blinde); Jan Jansz.,2.0
5305,NH,Hoorn,Hoogwoud,NaN,Bolsius (ook IJlstanus Bolswerdiensis; Caecus = de Blinde); Jan Jansz.,NaN,NaN,NaN,1573.0,NaN,NaN,NaN,1573.0,NaN,Bolsius (ook IJlstanus Bolswerdiensis,Caecus = de Blinde); Jan Jansz.,2.0
5306,NH,Haarlem,Jisp,NaN,Bolsius (ook IJlstanus Bolswerdiensis; Caecus = de Blinde); Jan Jansz.,NaN,NaN,NaN,1573.0,NaN,NaN,NaN,1575.0,NaN,Bolsius (ook IJlstanus Bolswerdiensis,Caecus = de Blinde); Jan Jansz.,2.0
5500,ZH,NaN,Voorburg,2. Westeinde en Dorp,Boogert;M;H.,Apeldoorn,15.0,maart,1987.0,emeritaat,14.0,januari,1996.0,NaN,Boogert,M;H.,2.0
6622,NB,NaN,Waalwijk,NaN,Breeuwsma-J.,Zevenbergen,11.0,december,1960.0,Hoogeveen,21.0,augustus,1966.0,NaN,Breeuwsma-J.,None,0.0
9832,NH,Hoorn,Schellinkhout,NaN,Cornelis,NaN,NaN,NaN,1574.0,NaN,NaN,NaN,1599.0,NaN,Cornelis,None,0.0
10526,NH,Enkhuizen,Grootebroek,NaN,Cyprianus,NaN,NaN,NaN,1574.0,NaN,NaN,NaN,1580.0,NaN,Cyprianus,None,0.0
10789,FR,NaN,Oudehorne-Nijehorne,NaN,Damsté; Sinninghe; F.,Opende,NaN,NaN,1895.0,Poortugaal,NaN,NaN,1900.0,NaN,Damsté,Sinninghe; F.,2.0
11952,ZH,NaN,Rotterdam,Centrum diaconessenhuis,Dongen;;J.C. van,Zutphen,1.0,november,1953.0,Utrecht Bijz.werkz.),18.0,maart,1956.0,NaN,Dongen,;J.C. van,2.0
13301,ZH,NaN,Voorhout,NaN,Elfferich'M.J.,kandidaat,5.0,januari,1964.0,eerv.ontslag. (Leraar),1.0,september,1965.0,NaN,Elfferich'M.J.,None,0.0
13657,FR,Zevenwolden,Oudeschoot,NaN,Ennius,NaN,NaN,NaN,1600.0,NaN,NaN,NaN,1600.0,NaN,Ennius,None,0.0
14035,ZE,NaN,Koudekerke,NaN,Eyckman; Ch.J. (jr);,kandidaat,NaN,NaN,1871.0,Benschop,NaN,NaN,1874.0,NaN,Eyckman,Ch.J. (jr);,2.0
15535,GE,Tiel,Ommeren,NaN,Gerardus,NaN,NaN,NaN,1590.0,NaN,NaN,NaN,1618.0,NaN,Gerardus,None,0.0
15536,NH,Alkmaar,Warmenhuizen,NaN,Gerardus,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,1583.0,NaN,Gerardus,None,0.0
19433,NH,Hoorn,Benningbroek,NaN,Henricus,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,1580.0,NaN,Henricus,None,0.0
19434,NH,Alkmaar,Hippolytushoef,NaN,Henricus,NaN,NaN,NaN,1573.0,NaN,NaN,NaN,1574.0,NaN,Henricus,None,0.0
22581,ZH,NaN,Rijswijk,III,J.H.Donner,Rijswijk,30.0,september,1990.0,NaN,NaN,NaN,NaN,NaN,J.H.Donner,None,0.0
22621,NH,Enkhuizen,Lutjebroek,NaN,Jacobus,NaN,NaN,NaN,1574.0,NaN,NaN,NaN,1580.0,NaN,Jacobus,None,0.0
22622,GE,Tiel,Zoelen,NaN,Jacobus,NaN,NaN,NaN,1576.0,NaN,NaN,NaN,1597.0,NaN,Jacobus,None,0.0
23091,GR,Loppersum,Woltersum,NaN,Johannes,NaN,NaN,NaN,1595.0,NaN,NaN,NaN,1600.0,NaN,Johannes,None,0.0
24029,UT,NaN,Vinkeveen,NaN,Kamerbeek;T;J.,Hoevelaken,1.0,juni,1986.0,emeritaat,7.0,juli,1996.0,NaN,Kamerbeek,T;J.,2.0
27116,UT,NaN,Amerongen,Overberg,Lagerwey;; T.,kandidaat-vicaris,1.0,oktober,1978.0,ontheven,1.0,februari,1981.0,NaN,Lagerwey,; T.,2.0
27453,GE,NaN,Putten,Andreaskerk,Langhout,Drogeham,23.0,november,1980.0,Pijnacker,15.0,oktober,19.0,NaN,Langhout,None,0.0
27847,GR,NaN,Vriescheloo,NaN,Leegsma'W.,kandidaatlegerpr,14.0,mei,1950.0,Zuidwolde (Dr.),13.0,april,1958.0,NaN,Leegsma'W.,None,0.0
27987,UT,Rhenen,Wijk bij Duurstede,NaN,Leeuw; (Leoninus); Cornelius de,NaN,NaN,NaN,1620.0,NaN,NaN,NaN,1651.0,NaN,Leeuw,(Leoninus); Cornelius de,2.0
28204,OV,NaN,IJsselmuiden,1,Lekkerkerker,T Oosterwolde (G),NaN,NaN,1916.0,Delft,30.0,oktober,1921.0,NaN,Lekkerkerker,None,0.0
30709,OV,NaN,Wanneperveen,NaN,Meijer-J.E.,kandidaat,7.0,februari,1982.0,Ruurlo,17.0,juni,1988.0,NaN,Meijer-J.E.,None,0.0
35421,FR,NaN,Oudwoude,NaN,Peerbolte; Lietaert; B.J.,Voorburg,29.0,september,1968.0,emeritaat,1.0,mei,1974.0,NaN,Peerbolte,Lietaert; B.J.,2.0
42019,OV,NaN,Wanneperveen,NaN,Seton-J.,Nootdorp,17.0,augustus,1975.0,Ridderkerk,3.0,augustus,1980.0,NaN,Seton-J.,None,0.0
42348,NH,Edam,Middelie,NaN,Siligineus (Rogge; Lisingius); Joachim,NaN,NaN,NaN,1578.0,NaN,NaN,NaN,1579.0,NaN,Siligineus (Rogge,Lisingius); Joachim,2.0
42349,ZH,Gorinchem,Noordeloos,NaN,Siligineus (Rogge; Lisingius); Joachim,NaN,NaN,NaN,1592.0,NaN,NaN,NaN,1596.0,NaN,Siligineus (Rogge,Lisingius); Joachim,2.0
42350,OV,Steenwijk,Zwartsluis,NaN,Siligineus (Rogge; Lisingius); Joachim,NaN,NaN,NaN,1585.0,NaN,NaN,NaN,1592.0,NaN,Siligineus (Rogge,Lisingius); Joachim,2.0
42358,NH,Alkmaar,Koedijk,NaN,Simon,NaN,NaN,NaN,1579.0,NaN,NaN,NaN,1580.0,NaN,Simon,None,0.0
44982,GE,NaN,Eibergen,1,Struyk; J. en Struyk-Boers; A.E.,Midwoud c a,5.0,januari,1997.0,NaN,NaN,NaN,NaN,NaN,Struyk,J. en Struyk-Boers; A.E.,2.0
44992,LI,NaN,Oude Mijnstreek (Wanbach),NaN,Stuart; Cohen; G.H.,kandidaat,12.0,oktober,1969.0,Poortugaal,3.0,augustus,1975.0,NaN,Stuart,Cohen; G.H.,2.0
46873,NH,Edam,Oosthuizen,NaN,Ulricus,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,1582.0,NaN,Ulricus,None,0.0
47391,ZH,NaN,Delfshaven,NaN,Velde;; J.C. van de,de Bilt,NaN,NaN,1826.0,Brielle,NaN,NaN,1827.0,NaN,Velde,; J.C. van de,2.0
51700,NB,Dordrecht,Willemstad,NaN,Wighagen,NaN,NaN,NaN,1581.0,NaN,NaN,NaN,1584.0,NaN,Wighagen,None,0.0
52089,NH,Hoorn,Nibbixwoud,NaN,Wilhelmus,NaN,NaN,NaN,1575.0,NaN,NaN,NaN,1612.0,NaN,Wilhelmus,None,0.0
52984,GR,NaN,Delfzijl,NaN,Wulfganges,NaN,NaN,NaN,1583.0,NaN,NaN,NaN,1595.0,NaN,Wulfganges,None,0.0

In [26]:
selected_rows.to_csv(folderlink+folder_output+'errors.csv', sep=';', encoding='utf-8', index=False)

In [27]:
Count_1_rows = df[df['Count'] == 1]

In [29]:
Count_1_rows = df.drop(['predikant'], axis=1)

In [30]:
Count_1_rows.to_csv(folderlink+folder_output+'count_1_rows.csv', sep=';', encoding='utf-8', index=False)