In [16]:
# import the required libraries
import docx2txt
import os
import re
import csv
import pandas as pd
import numpy as np

In [17]:
# Panda settings for showing data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [18]:
# Set variables for the project (i.e. the input location of the file to be processed and the output location) )

folderlink = '..//data//'
input_folder = 'input//'
output_folder = 'output//'

In [19]:
d1_csv = folderlink+output_folder+"parent_data.csv" 
d11_csv = folderlink+output_folder+"minister_info.csv"
d22_csv = folderlink+input_folder+"new_predikanten.csv"

In [20]:
d1 = pd.read_csv(d1_csv, sep=';', encoding='utf-8')

In [21]:
d1.head()

,name,ddrc_id,birth,death,baptized,legerpredikant,pastoor,garnizoenspredikant,emeritus_status,burried,conrector,rector,monnik,schoolmeester,hoogleraar,chirurgijn,praeceptor,ziekentrooster,vlootpredikant,ambassadepredikant,original_input,name_info_family,nickname,minister,year_birth,year_death,year_baptized,year_legerpredikant,year_pastoor,year_garnizoenspredikant,year_emeritus_status,year_burried,year_conrector,year_rector,year_monnik,year_schoolmeester,year_hoogleraar,year_chirurgijn,year_praeceptor,year_ziekentrooster,year_vlootpredikant,year_ambassadepredikant,accu_year_birth,accu_year_death,accu_year_baptized,accu_year_legerpredikant,accu_year_pastoor,accu_year_garnizoenspredikant,accu_year_emeritus_status,accu_year_burried,accu_year_conrector,accu_year_rector,accu_year_monnik,accu_year_schoolmeester,accu_year_hoogleraar,accu_year_chirurgijn,accu_year_praeceptor,accu_year_ziekentrooster,accu_year_vlootpredikant,accu_year_ambassadepredikant,surname,infix,join_name
0,Johannes,1,Zierikzee,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",NaN,NaN,"Oudkarspel 30 juni 1743, ,,,,",1717.0,1777.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalburg,van,Aalburg Johannes van
1,Wilhelmus,4,NaN,,Biggekerke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",NaN,NaN,"Aardenburg 22 mei 1695, ,,,,",NaN,1700.0,1664.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,NaN,Aalst Wilhelmus
2,Cornelius,2,Castricum,Amsterdam,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,in Parijstot,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",NaN,NaN,"Kalslagen ber. 21 febr. 1717, ,,,,",1686.0,1756.0,NaN,NaN,NaN,NaN,1751.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1715.0,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Cornelius van
3,Gerardus,3,,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",NaN,NaN,"Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, ,,,,",1678.0,1759.0,NaN,NaN,NaN,NaN,1755.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Gerardus van
4,Henricus,5,'s-Hertogenbosch (?),Limmen,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalstius Henricus Geb. 's-Hertogenbosch (?) yyy pred. Castricum en Heemskerk nov. 1700, emer. sept. 1733 overl. Limmen 15 maart 1736.<5>",NaN,NaN,"Castricum en Heemskerk nov. 1700, ,,,,",NaN,1736.0,NaN,NaN,NaN,NaN,1733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalstius,NaN,Aalstius Henricus

In [22]:
d11_col_data_type = {'minister_year': pd.Int64Dtype()}

In [23]:
d11 = pd.read_csv(d11_csv, sep=';', dtype=d11_col_data_type, encoding='utf-8')

In [24]:
d22 = pd.read_csv(d22_csv)

In [25]:
d22.head()

,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden
0,35651,1.0,ZH,NaN,Oudewater,NaN,(Hekendorp) Brunner; L.,hulppredikant Oirschot,NaN,NaN,1867,Lobith,NaN,NaN,1868.0,NaN
1,45546,2.0,GE,NaN,Velp,2. Oude Jan,(Hilten van-)Matthijsen;mevrouw L.,kandidaat,2.0,maart,1986,Apeldoorn,23.0,oktober,1994.0,NaN
2,7179,3.0,NB,NaN,Breda,NaN,Aa; dr Pieter Jan Baptist Karel Simon van der,Winterswijk,26.0,februari,1893,emeritaat,1.0,mei,1904.0,NaN
3,21505,3.0,GR,NaN,Hornhuizen,NaN,Aa; dr. P.J.B.K. Simon van der,kandidaat,NaN,NaN,1862,Goutum,NaN,NaN,1866.0,NaN
4,36887,3.0,NH,NaN,Purmerend,NaN,Aa; dr. P.J.B.K. Simon van der,Goutum,NaN,NaN,1886,Winterswijk,NaN,NaN,1892.0,NaN

In [26]:
d11.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN
3,3,Vuren en Dalem,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1704,NaN
4,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN

In [27]:
d22['d22join_name'] = d22['predikant'].str.replace(";","").str.replace(" ","").str.replace("  ","")
d22['d22gemeente'] = d22['gemeente'].str.split().str[0]
d22['d22jaar intrede'] = d22['jaar intrede'].astype(str).str.replace(";","").str.replace("","").str.replace("  ","")

In [28]:
d11['d11join_name'] = d11['join_name'].str.replace(";","").str.replace(" ","").str.replace("  ","")
d11['d11minister']= d11['minister'].str.split().str[0]
d11['d11minister_year']= d11['minister_year'].astype(str).str.replace(";","").str.replace("","").str.replace("  ","")
d11['d11id'] = d11['ddrc_id']

In [29]:
d22.head()

,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,d22join_name,d22gemeente,d22jaar intrede
0,35651,1.0,ZH,NaN,Oudewater,NaN,(Hekendorp) Brunner; L.,hulppredikant Oirschot,NaN,NaN,1867,Lobith,NaN,NaN,1868.0,NaN,(Hekendorp)BrunnerL.,Oudewater,1867
1,45546,2.0,GE,NaN,Velp,2. Oude Jan,(Hilten van-)Matthijsen;mevrouw L.,kandidaat,2.0,maart,1986,Apeldoorn,23.0,oktober,1994.0,NaN,(Hiltenvan-)MatthijsenmevrouwL.,Velp,1986
2,7179,3.0,NB,NaN,Breda,NaN,Aa; dr Pieter Jan Baptist Karel Simon van der,Winterswijk,26.0,februari,1893,emeritaat,1.0,mei,1904.0,NaN,AadrPieterJanBaptistKarelSimonvander,Breda,1893
3,21505,3.0,GR,NaN,Hornhuizen,NaN,Aa; dr. P.J.B.K. Simon van der,kandidaat,NaN,NaN,1862,Goutum,NaN,NaN,1866.0,NaN,Aadr.P.J.B.K.Simonvander,Hornhuizen,1862
4,36887,3.0,NH,NaN,Purmerend,NaN,Aa; dr. P.J.B.K. Simon van der,Goutum,NaN,NaN,1886,Winterswijk,NaN,NaN,1892.0,NaN,Aadr.P.J.B.K.Simonvander,Purmerend,1886

In [30]:
d11['d11j_place_year']=d11['d11join_name'].astype(str)+"_"+d11['d11minister'].astype(str)+"_"+d11['d11minister_year'].astype(str)

In [31]:
d11.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster,d11join_name,d11minister,d11minister_year,d11id,d11j_place_year
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,AalburgJohannesvan_Oudkarspel_1743
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,AalstWilhelmus_Aardenburg_1695
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN,AalstCorneliusvan,Kalslagen,1717,2,AalstCorneliusvan_Kalslagen_1717
3,3,Vuren en Dalem,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1704,NaN,AalstGerardusvan,Vuren,1704,3,AalstGerardusvan_Vuren_1704
4,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN,AalstGerardusvan,Sommelsdijk,1706,3,AalstGerardusvan_Sommelsdijk_1706

In [32]:
d22['d22j_place_year']=d22['d22join_name'].astype(str)+"_"+d22['d22gemeente'].astype(str)+"_"+d22['d22jaar intrede'].astype(str)

In [33]:
d11_d22 = pd.merge(d11, d22, left_on='d11j_place_year', right_on='d22j_place_year', how='inner')

In [34]:
d11_d22.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster,d11join_name,d11minister,d11minister_year,d11id,d11j_place_year,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,d22join_name,d22gemeente,d22jaar intrede,d22j_place_year
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,AalburgJohannesvan_Oudkarspel_1743,35685,NaN,NH,Alkmaar,Oudkarspel,NaN,Aalburg; Johannes van,NaN,NaN,NaN,1743,NaN,NaN,NaN,1777.0,NaN,AalburgJohannesvan,Oudkarspel,1743,AalburgJohannesvan_Oudkarspel_1743
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,AalstWilhelmus_Aardenburg_1695,741,NaN,ZE,Walcheren,Aardenburg,NaN,Aalst; Wilhelmus,NaN,NaN,NaN,1695,NaN,NaN,NaN,1700.0,NaN,AalstWilhelmus,Aardenburg,1695,AalstWilhelmus_Aardenburg_1695
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN,AalstCorneliusvan,Kalslagen,1717,2,AalstCorneliusvan_Kalslagen_1717,22489,NaN,NH,Woerden,Kalslagen,NaN,Aalst; Cornelius van,NaN,NaN,NaN,1717,NaN,NaN,NaN,1751.0,NaN,AalstCorneliusvan,Kalslagen,1717,AalstCorneliusvan_Kalslagen_1717
3,3,Vuren en Dalem,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1704,NaN,AalstGerardusvan,Vuren,1704,3,AalstGerardusvan_Vuren_1704,46953,NaN,GE,Zaltbommel,Vuren,NaN,Aalst; Gerardus van,NaN,NaN,NaN,1704,NaN,NaN,NaN,1706.0,NaN,AalstGerardusvan,Vuren,1704,AalstGerardusvan_Vuren_1704
4,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN,AalstGerardusvan,Sommelsdijk,1706,3,AalstGerardusvan_Sommelsdijk_1706,41854,NaN,ZH,Schouwen-Duiveland,Sommelsdijk,NaN,Aalst; Gerardus van,NaN,NaN,NaN,1706,NaN,NaN,NaN,1715.0,NaN,AalstGerardusvan,Sommelsdijk,1706,AalstGerardusvan_Sommelsdijk_1706

In [35]:
#new_df.to_csv(folderlink+'new_table_inner.csv', sep=';', encoding='utf-8', index=False)

In [36]:
#new_df_left = pd.merge(d11, d22, left_on='d11j_place_year', right_on='d22j_place_year', how='left')

In [37]:
#new_df_left.to_csv(folderlink+'new_table_inner_left.csv', sep=';', encoding='utf-8', index=False)

In [38]:
#new_df_right = pd.merge(d11, d22, left_on='d11j_place_year', right_on='d22j_place_year', how='right')
#new_df_right.to_csv(folderlink+'new_table_inner_right.csv', sep=';', encoding='utf-8', index=False)

In [39]:
id_counts_d11 = d11['ddrc_id'].value_counts()

In [40]:
d11['d11_count'] = d11['ddrc_id'].map(id_counts_d11)

In [41]:
d11['d11_count_unique']= d11['d11id'].astype(str)+"__"+d11['d11_count'].astype(str)

In [42]:
d11.head()

,ddrc_id,minister,join_name,original_input,minister_year,accu_year_minster,d11join_name,d11minister,d11minister_year,d11id,d11j_place_year,d11_count,d11_count_unique
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,AalburgJohannesvan_Oudkarspel_1743,1,1__1
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,AalstWilhelmus_Aardenburg_1695,1,4__1
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN,AalstCorneliusvan,Kalslagen,1717,2,AalstCorneliusvan_Kalslagen_1717,1,2__1
3,3,Vuren en Dalem,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1704,NaN,AalstGerardusvan,Vuren,1704,3,AalstGerardusvan_Vuren_1704,3,3__3
4,3,Sommelsdijk,Aalst Gerardus van,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",1706,NaN,AalstGerardusvan,Sommelsdijk,1706,3,AalstGerardusvan_Sommelsdijk_1706,3,3__3

In [43]:
id_counts_d22_d11 = d11_d22['d11id'].value_counts()
d11_d22['d11_d22_count'] = d11_d22['d11id'].map(id_counts_d22_d11)

In [44]:
d11_d22['d11_d22_count_unique']= d11_d22['d11id'].astype(str)+"__"+d11_d22['d11_d22_count'].astype(str)

In [45]:
countd11_countd11_d22 = pd.merge(d11, d11_d22, left_on='d11_count_unique', right_on='d11_d22_count_unique', how='inner')

In [46]:
countd11_countd11_d22.head()

,ddrc_id_x,minister_x,join_name_x,original_input_x,minister_year_x,accu_year_minster_x,d11join_name_x,d11minister_x,d11minister_year_x,d11id_x,d11j_place_year_x,d11_count,d11_count_unique,ddrc_id_y,minister_y,join_name_y,original_input_y,minister_year_y,accu_year_minster_y,d11join_name_y,d11minister_y,d11minister_year_y,d11id_y,d11j_place_year_y,pid,ind_id,provincie,classis,gemeente,wijk,predikant,Herkomst,dag intrede,maand intrede,jaar intrede,vertrek naar of vanwege,dag vertrek,maand vertrek,jaar vertrek,Bijzonderheden,d22join_name,d22gemeente,d22jaar intrede,d22j_place_year,d11_d22_count,d11_d22_count_unique
0,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,AalburgJohannesvan_Oudkarspel_1743,1,1__1,1,Oudkarspel,Aalburg Johannes van,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",1743,NaN,AalburgJohannesvan,Oudkarspel,1743,1,AalburgJohannesvan_Oudkarspel_1743,35685,NaN,NH,Alkmaar,Oudkarspel,NaN,Aalburg; Johannes van,NaN,NaN,NaN,1743,NaN,NaN,NaN,1777.0,NaN,AalburgJohannesvan,Oudkarspel,1743,AalburgJohannesvan_Oudkarspel_1743,1,1__1
1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,AalstWilhelmus_Aardenburg_1695,1,4__1,4,Aardenburg,Aalst Wilhelmus,"Aalst Wilhelmus Gedoopt Biggekerke 5 jan. 1664 pred. Aardenburg 22 mei 1695, overl. 19 dec. 1700.<4>",1695,NaN,AalstWilhelmus,Aardenburg,1695,4,AalstWilhelmus_Aardenburg_1695,741,NaN,ZE,Walcheren,Aardenburg,NaN,Aalst; Wilhelmus,NaN,NaN,NaN,1695,NaN,NaN,NaN,1700.0,NaN,AalstWilhelmus,Aardenburg,1695,AalstWilhelmus_Aardenburg_1695,1,4__1
2,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN,AalstCorneliusvan,Kalslagen,1717,2,AalstCorneliusvan_Kalslagen_1717,1,2__1,2,Kalslagen ber,Aalst Cornelius van,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",1717,NaN,AalstCorneliusvan,Kalslagen,1717,2,AalstCorneliusvan_Kalslagen_1717,22489,NaN,NH,Woerden,Kalslagen,NaN,Aalst; Cornelius van,NaN,NaN,NaN,1717,NaN,NaN,NaN,1751.0,NaN,AalstCorneliusvan,Kalslagen,1717,AalstCorneliusvan_Kalslagen_1717,1,2__1
3,5,Castricum en Heemskerk,Aalstius Henricus,"Aalstius Henricus Geb. 's-Hertogenbosch (?) yyy pred. Castricum en Heemskerk nov. 1700, emer. sept. 1733 overl. Limmen 15 maart 1736.<5>",1700,NaN,AalstiusHenricus,Castricum,1700,5,AalstiusHenricus_Castricum_1700,1,5__1,5,Castricum en Heemskerk,Aalstius Henricus,"Aalstius Henricus Geb. 's-Hertogenbosch (?) yyy pred. Castricum en Heemskerk nov. 1700, emer. sept. 1733 overl. Limmen 15 maart 1736.<5>",1700,NaN,AalstiusHenricus,Castricum,1700,5,AalstiusHenricus_Castricum_1700,8276,NaN,NH,Haarlem,Castricum,NaN,Aalstius; Henricus,NaN,NaN,NaN,1700,NaN,NaN,NaN,1733.0,NaN,AalstiusHenricus,Castricum,1700,AalstiusHenricus_Castricum_1700,1,5__1
4,8,Hoornaar,Aalstius Johannes,"Aalstius Johannes Geb. 's-Hertogenbosch ca. 1660 pred. Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens hoogleraar 1705 tot 1709), overl. 10 juni 1712.<8>",1687,NaN,AalstiusJohannes,Hoornaar,1687,8,AalstiusJohannes_Hoornaar_1687,3,8__3,8,Hoornaar,Aalstius Johannes,"Aalstius Johannes Geb. 's-Hertogenbosch ca. 1660 pred. Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens hoogleraar 1705 tot 1709), overl. 10 juni 1712.<8>",1687,NaN,AalstiusJohannes,Hoornaar,1687,8,AalstiusJohannes_Hoornaar_1687,21435,NaN,ZH,Gorinchem,Hoornaar,NaN,Aalstius; Johannes,NaN,NaN,NaN,1687,NaN,NaN,NaN,1698.0,NaN,AalstiusJohannes,Hoornaar,1687,AalstiusJohannes_Hoornaar_1687,3,8__3

In [47]:
output_table = countd11_countd11_d22[['ddrc_id_x','d11_count_unique', 'd11_d22_count_unique']].copy()

In [48]:
output_table.head()

   ddrc_id_x d11_count_unique d11_d22_count_unique
0          1             1__1                 1__1
1          4             4__1                 4__1
2          2             2__1                 2__1
3          5             5__1                 5__1
4          8             8__3                 8__3

In [49]:
output_without_duplicates = output_table.drop_duplicates()

In [50]:
output_without_duplicates.head()

   ddrc_id_x d11_count_unique d11_d22_count_unique
0          1             1__1                 1__1
1          4             4__1                 4__1
2          2             2__1                 2__1
3          5             5__1                 5__1
4          8             8__3                 8__3

In [51]:
output_without_duplicates.to_csv(folderlink+output_folder+'ouput_nodup_first_word.csv', sep=';', encoding='utf-8', index=False)