In [27]:
import pandas as pd

def assign_ids(df):
    individuals = {}
    id_counter = 1

    def get_individual_id(name, start, end):
        if name in individuals:
            if individuals[name]['end'] == start:
                individuals[name]['end'] = end
                return individuals[name]['ID']
            else:
                nonlocal id_counter
                id_counter += 1
                individuals[name] = {'ID': id_counter, 'start': start, 'end': end}
                return id_counter
        else:
            individuals[name] = {'ID': id_counter, 'start': start, 'end': end}
            return id_counter

    df['ID'] = df.apply(lambda row: get_individual_id(row['name'], row['start'], row['end']), axis=1)
    return df

# Sample table data as a pandas DataFrame
data = {
    'name': ['harry', 'harry', 'harry', 'barry', 'barry', 'barry', 'harry', 'harry', 'harry', 'harry'],
    'start': ['amsterdam', 'rotterdam', 'Eindhoven', 'elst', 'rhenen', 'vught', 'elst', 'tiel', 'oss', 'haarlem'],
    'end': ['rotterdam', 'Eindhoven', 'maastricht', 'rhenen', 'vught', 'rotterdam', 'tiel', 'oss', 'haarlem', 'vianen']
}

df = pd.DataFrame(data)

result_df = assign_ids(df)

print(result_df)

    name      start         end  ID
0  harry  amsterdam   rotterdam   1
1  harry  rotterdam   Eindhoven   1
2  harry  Eindhoven  maastricht   1
3  barry       elst      rhenen   1
4  barry     rhenen       vught   1
5  barry      vught   rotterdam   1
6  harry       elst        tiel   2
7  harry       tiel         oss   2
8  harry        oss     haarlem   2
9  harry    haarlem      vianen   2