In [1]:
# import the required libraries
import os
import re
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Set variables for the project (i.e. the input location of the file to be processed and the output location) )

folderlink = '..//data//'
folder_input = 'input//'
folder_output = 'output//'
input_file_parent = folderlink+folder_output+"parent_data.csv"
input_kb = folderlink+folder_output+"authors.csv"

In [3]:
# Panda settings for showing data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
authors = pd.read_csv(input_kb, sep=';', encoding='utf-8')

In [5]:
authors.head()

,s,bel,name,familyName,givenName,deathDate,birthDate
0,http://data.bibliotheken.nl/id/thes/p413545709,"Schavye, Josse-Corniel-Eugène (1822-1905 ; boekbinder te Brussel)",Josse-Corniel-Eugène Schavye,Schavye,Josse-Corniel-Eugène,1905,1822
1,http://data.bibliotheken.nl/id/thes/p418096252,"Llorens, Eduard L. (1886-1943 ; jurist)",Eduard L. Llorens,Llorens,Eduard L.,1943,1886
2,http://data.bibliotheken.nl/id/thes/p422559660,"Gaus-Bachmann, A. (1869-1945)",A. Gaus-Bachmann,Gaus-Bachmann,A.,1945,1869
3,http://data.bibliotheken.nl/id/thes/p416498442,"Beugels, Eddy (1944-2018)",Eddy Beugels,Beugels,Eddy,2018,1944
4,http://data.bibliotheken.nl/id/thes/p208119027,"Erdélyi, Tamás (1953-2017)",Tamás Erdélyi,Erdélyi,Tamás,2017,1953

In [7]:
authors['birth_year'] = authors['birthDate'].str.extract(r'(\d{4})')

In [8]:
authors['first_letter'] = authors['givenName'].astype(str).apply(lambda x: x[0])

In [ ]:
authors.head()

,author_id,author,author_deathDate,author_birthDate,author_familyName,author_givenName,birth_year,first_letter
0,nodeID://b266030125,Johan David Michaëlis,1791,1717,Michaelis,Johann David,1717,J
1,nodeID://b265954853,Caius Plinius Caecilius Secundus,112 na Chr.,61/62,Plinius Caecilius Secundus,C.,NaN,C
2,nodeID://b265954856,Caius Plinius Caecilius Secundus,112 na Chr.,61/62,Plinius Caecilius Secundus,C.,NaN,C
3,nodeID://b265954859,P Virgilius Maro,19 v.Chr.,70 v.Chr.,Vergilius Maro,P.,NaN,P
4,nodeID://b265954864,Hermannus Buschius,1534,1468,van den Busche,Herman,1468,H

In [9]:
authors['surname'] = authors['familyName'].str.replace(' ', '')

In [10]:
authors['kb_name_surname_year'] = (authors['first_letter'].astype(str)  + '_' + authors['surname'].astype(str) + '_' + np.where(authors['birth_year'].isna(), '', authors['birth_year'].astype(str)))

In [11]:
authors = authors[~authors['birth_year'].isna()]

In [12]:
authors.head()

,s,bel,name,familyName,givenName,deathDate,birthDate,birth_year,first_letter,surname,kb_name_surname_year
0,http://data.bibliotheken.nl/id/thes/p413545709,"Schavye, Josse-Corniel-Eugène (1822-1905 ; boekbinder te Brussel)",Josse-Corniel-Eugène Schavye,Schavye,Josse-Corniel-Eugène,1905,1822,1822,J,Schavye,J_Schavye_1822
1,http://data.bibliotheken.nl/id/thes/p418096252,"Llorens, Eduard L. (1886-1943 ; jurist)",Eduard L. Llorens,Llorens,Eduard L.,1943,1886,1886,E,Llorens,E_Llorens_1886
2,http://data.bibliotheken.nl/id/thes/p422559660,"Gaus-Bachmann, A. (1869-1945)",A. Gaus-Bachmann,Gaus-Bachmann,A.,1945,1869,1869,A,Gaus-Bachmann,A_Gaus-Bachmann_1869
3,http://data.bibliotheken.nl/id/thes/p416498442,"Beugels, Eddy (1944-2018)",Eddy Beugels,Beugels,Eddy,2018,1944,1944,E,Beugels,E_Beugels_1944
4,http://data.bibliotheken.nl/id/thes/p208119027,"Erdélyi, Tamás (1953-2017)",Tamás Erdélyi,Erdélyi,Tamás,2017,1953,1953,T,Erdélyi,T_Erdélyi_1953

In [13]:
year_int = {'year_birth': pd.Int64Dtype(),
            'year_death': pd.Int64Dtype(),
            'year_baptized': pd.Int64Dtype(), 
            'year_pastoor': pd.Int64Dtype(), 
            'year_garnizoenspredikant': pd.Int64Dtype(),
            'year_emeritus_status': pd.Int64Dtype(),
            'year_burried': pd.Int64Dtype(),
            'year_conrector': pd.Int64Dtype(),
            'year_rector': pd.Int64Dtype(),
            'year_monnik': pd.Int64Dtype(),
            'year_schoolmeester': pd.Int64Dtype(),
            'year_hoogleraar': pd.Int64Dtype(),
            'year_chirurgijn': pd.Int64Dtype(),
            'year_praeceptor': pd.Int64Dtype(),
            'year_ziekentrooster': pd.Int64Dtype(),
            'year_vlootpredikant': pd.Int64Dtype(),
            'year_ambassadepredikant': pd.Int64Dtype()}

In [14]:
parent = pd.read_csv(input_file_parent, sep=';', dtype=year_int , encoding='utf-8')

In [15]:
parent['first_letter'] = parent['name'].astype(str).apply(lambda x: x[1])

In [16]:
parent = parent[~parent['year_birth'].isna()]

In [17]:

parent['year_birth'] = parent['year_birth'].astype(str)

In [18]:
parent['year_birth']= parent['year_birth'].str.extract(r'(\d{4})')

In [19]:
parent.head()

,name,clerus_id,birth,death,baptized,legerpredikant,pastoor,garnizoenspredikant,emeritus_status,burried,conrector,rector,monnik,schoolmeester,hoogleraar,chirurgijn,praeceptor,ziekentrooster,vlootpredikant,ambassadepredikant,original_input,name_info_family,nickname,minister,year_birth,year_death,year_baptized,year_legerpredikant,year_pastoor,year_garnizoenspredikant,year_emeritus_status,year_burried,year_conrector,year_rector,year_monnik,year_schoolmeester,year_hoogleraar,year_chirurgijn,year_praeceptor,year_ziekentrooster,year_vlootpredikant,year_ambassadepredikant,accu_year_birth,accu_year_death,accu_year_baptized,accu_year_legerpredikant,accu_year_pastoor,accu_year_garnizoenspredikant,accu_year_emeritus_status,accu_year_burried,accu_year_conrector,accu_year_rector,accu_year_monnik,accu_year_schoolmeester,accu_year_hoogleraar,accu_year_chirurgijn,accu_year_praeceptor,accu_year_ziekentrooster,accu_year_vlootpredikant,accu_year_ambassadepredikant,surname,infix,join_name,first_letter
0,Johannes,1,Zierikzee,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",NaN,NaN,"Oudkarspel 30 juni 1743, ,,,,",1717,1777,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalburg,van,Aalburg Johannes van,J
2,Cornelius,2,Castricum,Amsterdam,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,in Parijstot,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",NaN,NaN,"Kalslagen ber. 21 febr. 1717, ,,,,",1686,1756,<NA>,NaN,<NA>,<NA>,1751,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1715,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Cornelius van,C
3,Gerardus,3,,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",NaN,NaN,"Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, ,,,,",1678,1759,<NA>,NaN,<NA>,<NA>,1755,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Gerardus van,G
6,Johannes,6,,NaN,NaN,NaN,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalstius Johannes [z.v. Johannes Leonardusz.] Geb. xxx 1620 pred. Obdam 1644, Boxtel 13 sept. 1648, Bergen op Zoom 9 nov. 1652 (tevens Waals1 pred.), emer. 1685 begraven 17 nov. 1687.<6>",z.v. Johannes Leonardusz.,NaN,"Obdam 1644, Boxtel 13 sept. 1648, Bergen op Zoom 9 nov. 1652 (tevens Waals,), ,,,",1620,<NA>,<NA>,NaN,<NA>,<NA>,1685,1687,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalstius,NaN,Aalstius Johannes,J
7,Johannes,8,'s-Hertogenbosch,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tot ),",NaN,NaN,NaN,NaN,NaN,"Aalstius Johannes Geb. 's-Hertogenbosch ca. 1660 pred. Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens hoogleraar 1705 tot 1709), overl. 10 juni 1712.<8>",NaN,NaN,"Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens ,,,,",1660,1712,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1705,<NA>,<NA>,<NA>,<NA>,<NA>,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalstius,NaN,Aalstius Johannes,J

In [20]:
parent['infix'] = parent['infix'].str.replace(' ', '')

In [21]:
parent['par_name_surname_year'] = (parent['first_letter'].astype(str) + '_' + np.where(parent['infix'].isna(), '', parent['infix'].astype(str)) + '' + parent['surname'].astype(str) + '_' + parent['year_birth'].astype(str))

In [22]:
parent.head()

,name,clerus_id,birth,death,baptized,legerpredikant,pastoor,garnizoenspredikant,emeritus_status,burried,conrector,rector,monnik,schoolmeester,hoogleraar,chirurgijn,praeceptor,ziekentrooster,vlootpredikant,ambassadepredikant,original_input,name_info_family,nickname,minister,year_birth,year_death,year_baptized,year_legerpredikant,year_pastoor,year_garnizoenspredikant,year_emeritus_status,year_burried,year_conrector,year_rector,year_monnik,year_schoolmeester,year_hoogleraar,year_chirurgijn,year_praeceptor,year_ziekentrooster,year_vlootpredikant,year_ambassadepredikant,accu_year_birth,accu_year_death,accu_year_baptized,accu_year_legerpredikant,accu_year_pastoor,accu_year_garnizoenspredikant,accu_year_emeritus_status,accu_year_burried,accu_year_conrector,accu_year_rector,accu_year_monnik,accu_year_schoolmeester,accu_year_hoogleraar,accu_year_chirurgijn,accu_year_praeceptor,accu_year_ziekentrooster,accu_year_vlootpredikant,accu_year_ambassadepredikant,surname,infix,join_name,first_letter,par_name_surname_year
0,Johannes,1,Zierikzee,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalburg, van Johannes Geb. Zierikzee ca. 1717 pred. Oudkarspel 30 juni 1743, overl. 14 maart 1777.<1>",NaN,NaN,"Oudkarspel 30 juni 1743, ,,,,",1717,1777,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalburg,van,Aalburg Johannes van,J,J_vanAalburg_1717
2,Cornelius,2,Castricum,Amsterdam,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,in Parijstot,"Aalst, van Cornelius Geb. Castricum ca. 1686 ambassadepred. in Parijs maart tot dec. 1715 pred. Kalslagen ber. 21 febr. 1717, emer. 1751 overl. Amsterdam 27 aug. 1756.<2>",NaN,NaN,"Kalslagen ber. 21 febr. 1717, ,,,,",1686,1756,<NA>,NaN,<NA>,<NA>,1751,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1715,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Cornelius van,C,C_vanAalst_1686
3,Gerardus,3,,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",NaN,NaN,"Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, ,,,,",1678,1759,<NA>,NaN,<NA>,<NA>,1755,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Gerardus van,G,G_vanAalst_1678
6,Johannes,6,,NaN,NaN,NaN,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalstius Johannes [z.v. Johannes Leonardusz.] Geb. xxx 1620 pred. Obdam 1644, Boxtel 13 sept. 1648, Bergen op Zoom 9 nov. 1652 (tevens Waals1 pred.), emer. 1685 begraven 17 nov. 1687.<6>",z.v. Johannes Leonardusz.,NaN,"Obdam 1644, Boxtel 13 sept. 1648, Bergen op Zoom 9 nov. 1652 (tevens Waals,), ,,,",1620,<NA>,<NA>,NaN,<NA>,<NA>,1685,1687,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalstius,NaN,Aalstius Johannes,J,J_Aalstius_1620
7,Johannes,8,'s-Hertogenbosch,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tot ),",NaN,NaN,NaN,NaN,NaN,"Aalstius Johannes Geb. 's-Hertogenbosch ca. 1660 pred. Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens hoogleraar 1705 tot 1709), overl. 10 juni 1712.<8>",NaN,NaN,"Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens ,,,,",1660,1712,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1705,<NA>,<NA>,<NA>,<NA>,<NA>,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalstius,NaN,Aalstius Johannes,J,J_Aalstius_1660

In [23]:
clerus_kb = pd.merge(parent, authors, left_on='par_name_surname_year', right_on='kb_name_surname_year', how='inner')

In [24]:
clerus_kb.head()

,name_x,clerus_id,birth,death,baptized,legerpredikant,pastoor,garnizoenspredikant,emeritus_status,burried,conrector,rector,monnik,schoolmeester,hoogleraar,chirurgijn,praeceptor,ziekentrooster,vlootpredikant,ambassadepredikant,original_input,name_info_family,nickname,minister,year_birth,year_death,year_baptized,year_legerpredikant,year_pastoor,year_garnizoenspredikant,year_emeritus_status,year_burried,year_conrector,year_rector,year_monnik,year_schoolmeester,year_hoogleraar,year_chirurgijn,year_praeceptor,year_ziekentrooster,year_vlootpredikant,year_ambassadepredikant,accu_year_birth,accu_year_death,accu_year_baptized,accu_year_legerpredikant,accu_year_pastoor,accu_year_garnizoenspredikant,accu_year_emeritus_status,accu_year_burried,accu_year_conrector,accu_year_rector,accu_year_monnik,accu_year_schoolmeester,accu_year_hoogleraar,accu_year_chirurgijn,accu_year_praeceptor,accu_year_ziekentrooster,accu_year_vlootpredikant,accu_year_ambassadepredikant,surname_x,infix,join_name,first_letter_x,par_name_surname_year,s,bel,name_y,familyName,givenName,deathDate,birthDate,birth_year,first_letter_y,surname_y,kb_name_surname_year
0,Gerardus,3,,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aalst, van Gerardus Geb. xxx sept. 1678 pred. Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, emer. 1755 overl. 29 juni 1759.<3>",NaN,NaN,"Vuren en Dalem 10 aug. 1704, Sommelsdijk 13 juni 1706, WestZaandam 4 aug. 1715, ,,,,",1678,1759,<NA>,NaN,<NA>,<NA>,1755,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalst,van,Aalst Gerardus van,G,G_vanAalst_1678,http://data.bibliotheken.nl/id/thes/p112095038,"Aalst, Gerardus van (1678-1759)",Gerardus van Aalst,van Aalst,Gerardus,1759,1678,1678,G,vanAalst,G_vanAalst_1678
1,Johannes,8,'s-Hertogenbosch,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"tot ),",NaN,NaN,NaN,NaN,NaN,"Aalstius Johannes Geb. 's-Hertogenbosch ca. 1660 pred. Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens hoogleraar 1705 tot 1709), overl. 10 juni 1712.<8>",NaN,NaN,"Hoornaar 1687, Beverwijk april 1698, Middelburg 22 nov. 1705 (tevens ,,,,",1660,1712,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1705,<NA>,<NA>,<NA>,<NA>,<NA>,circa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aalstius,NaN,Aalstius Johannes,J,J_Aalstius_1660,http://data.bibliotheken.nl/id/thes/p069334943,"Aalstius, Joannes (ca.1660-1712)",Joannes Aalstius,Aalstius,Joannes,1712,ca.1660,1660,J,Aalstius,J_Aalstius_1660
2,Engelbert,24,Groenlo,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Abbinck Engelbert Geb. Groenlo 1756 pred. Gelselaar 5 juli 1785, Groenlo 23 juli 1797, emer. 1834 overl. 19 aug. 1843.<24>",NaN,NaN,"Gelselaar 5 juli 1785, Groenlo 23 juli 1797, ,,,,",1756,1843,<NA>,NaN,<NA>,<NA>,1834,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abbinck,NaN,Abbinck Engelbert,E,E_Abbinck_1756,http://data.bibliotheken.nl/id/thes/p353183970,"Abbinck, Engelbert (1756-1843)",Engelbert Abbinck,Abbinck,Engelbert,1843,1756,1756,E,Abbinck,E_Abbinck_1756
3,Georgius,37,Groningen,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Abelaar Georgius Geb. Groningen 16 febr. 1679 pred. Oostwold (Westerkwartier), Hooge en Lagemeeden 9 juni 1710, Aduard 1733, overl. 24 mei 1743.<37>",NaN,NaN,"Oostwold (Westerkwartier), Hooge en Lagemeeden 9 juni 1710, Aduard 1733, ,,,,",1679,1743,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abelaar,NaN,Abelaar Georgius,G,G_Abelaar_1679,http://data.bibliotheken.nl/id/thes/p218143605,"Abelaar, Georgius (1679-1743)",Georgius Abelaar,Abelaar,Georgius,1743,1679,1679,G,Abelaar,G_Abelaar_1679
4,Petrus,98,Groningen,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Adriani Petrus [broer van Menso Johannes] Geb. Groningen 23 mei 1730 pred. Oterdum 1 aug. 1762, Den Andel 18 okt. 1772, overl. 3 nov. 1808.<98>",broer van Menso Johannes,NaN,"Oterdum 1 aug. 1762, Den Andel 18 okt. 1772, ,,,,",1730,1808,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adriani,NaN,Adriani Petrus,P,P_Adriani_1730,http://data.bibliotheken.nl/id/thes/p354061801,"Adriani, Petrus (1730-1808)",Petrus Adriani,Adriani,Petrus,1808,1730,1730,P,Adriani,P_Adriani_1730

In [25]:
clerus_kb.describe()

,clerus_id,year_death,year_baptized,year_legerpredikant,year_pastoor,year_garnizoenspredikant,year_emeritus_status,year_burried,year_conrector,year_rector,year_monnik,year_schoolmeester,year_hoogleraar,year_chirurgijn,year_praeceptor,year_ziekentrooster,year_vlootpredikant,year_ambassadepredikant,accu_year_garnizoenspredikant,accu_year_burried,accu_year_chirurgijn,accu_year_ziekentrooster,accu_year_vlootpredikant,accu_year_ambassadepredikant
count,424.000000,408.000000,0,10.000000,0,1,132.000000,5.000000,0,3.00000,0,1,31.000000,0,0,0,1,3.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,5959.087264,1749.825980,<NA>,1694.600000,<NA>,1740.0,1770.803030,1729.600000,<NA>,1617.00000,<NA>,1634.0,1717.064516,<NA>,<NA>,<NA>,1624.0,1684.000000,NaN,NaN,NaN,NaN,NaN,NaN
std,4189.772570,63.553005,<NA>,31.152671,<NA>,<NA>,57.311182,36.514381,<NA>,35.02856,<NA>,<NA>,65.409447,<NA>,<NA>,<NA>,<NA>,55.425626,NaN,NaN,NaN,NaN,NaN,NaN
min,3.000000,1604.000000,<NA>,1629.000000,<NA>,1740,1612.000000,1700.000000,<NA>,1579.00000,<NA>,1634,1575.000000,<NA>,<NA>,<NA>,1624,1620.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,2579.250000,1703.500000,<NA>,1677.750000,<NA>,1740,1739.000000,1707.000000,<NA>,1601.50000,<NA>,1634,1667.000000,<NA>,<NA>,<NA>,1624,1668.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,5376.500000,1758.500000,<NA>,1702.500000,<NA>,1740,1781.000000,1714.000000,<NA>,1624.00000,<NA>,1634,1740.000000,<NA>,<NA>,<NA>,1624,1716.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,8859.000000,1798.250000,<NA>,1708.750000,<NA>,1740,1815.000000,1737.000000,<NA>,1636.00000,<NA>,1634,1763.000000,<NA>,<NA>,<NA>,1624,1716.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,21388.000000,1874.000000,<NA>,1747.000000,<NA>,1740,1865.000000,1790.000000,<NA>,1648.00000,<NA>,1634,1823.000000,<NA>,<NA>,<NA>,1624,1716.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
clerus_kb = clerus_kb.drop(['baptized','legerpredikant',	'pastoor',	'garnizoenspredikant',	'emeritus_status',	'burried',	'conrector',	'rector',	'monnik',	'schoolmeester',	'hoogleraar',	'chirurgijn',	'praeceptor',	'ziekentrooster',	'vlootpredikant',	'ambassadepredikant', 'year_baptized', 'year_pastoor', 'year_garnizoenspredikant', 'year_emeritus_status', 'year_burried', 'year_conrector', 'year_rector', 'year_monnik','year_schoolmeester',
'year_hoogleraar', 'year_chirurgijn', 'year_praeceptor', 'year_ziekentrooster', 'year_vlootpredikant', 'year_ambassadepredikant', 'year_legerpredikant','accu_year_birth','accu_year_death','accu_year_baptized','accu_year_legerpredikant','accu_year_pastoor','accu_year_garnizoenspredikant','accu_year_emeritus_status','accu_year_burried','accu_year_conrector','accu_year_rector','accu_year_monnik','accu_year_schoolmeester','accu_year_hoogleraar','accu_year_chirurgijn','accu_year_praeceptor','accu_year_ziekentrooster','accu_year_vlootpredikant','accu_year_ambassadepredikant','join_name'], axis=1)

In [27]:
clerus_kb.to_csv(folderlink+folder_output+'clerus_kb_inner.csv', sep=';', encoding='utf-8', index=False)

In [29]:
unique_ids = clerus_kb['clerus_id'].nunique()
print("Number of unique IDs:", unique_ids)

Number of unique IDs: 419