In [11]:
import pandas as pd
import sparql_pandas
import os
from SPARQLWrapper import SPARQLWrapper, JSON

In [12]:
folderlink = '..//data//'
input_folder = 'input//'
folder_output = 'output//'
ddrc_file = 'parent_data.csv'
input_file = os.path.join(folderlink+folder_output, ddrc_file)

In [13]:
sparql_endpoint = "http://data.bibliotheken.nl/sparql"

In [14]:
# query to get all persons from kb endpoint
sparql_query = """
select ?per ?name where {
  ?per a schema:Person .
  ?per schema:name ?author .   
  }
limit 100
"""

In [15]:
result_dataframe = sparql_pandas.sparql_to_dataframe(sparql_endpoint, sparql_query)

In [16]:
output_file = folderlink+folder_output+"output25071.csv"
result_dataframe.to_csv(output_file, sep=';', encoding='utf-8', index=False)

In [17]:
result_dataframe.describe()

                                                   per
count                                              100
unique                                              99
top     http://data.bibliotheken.nl/id/thes/p412423480
freq                                                 2

In [18]:
result_dataframe.head()

                                              per
0  http://data.bibliotheken.nl/id/thes/p412758822
1  http://data.bibliotheken.nl/id/thes/p412423480
2  http://data.bibliotheken.nl/id/thes/p412423480
3  http://data.bibliotheken.nl/id/thes/p413545709
4  http://data.bibliotheken.nl/id/thes/p410757357