In [4]:
import pandas as pd
import os
from SPARQLWrapper import SPARQLWrapper, JSON

In [5]:
folderlink = '..//data//'
input_folder = 'input//'
folder_output = 'output//'
ddrc_file = 'parent_data.csv'
input_file = os.path.join(folderlink+folder_output, ddrc_file)

In [6]:
sparql_endpoint = "http://data.bibliotheken.nl/sparql"

In [7]:
# query to get all persons
sparql_query = """
select ?per ?name where {
  ?per a schema:Person .
  ?per schema:name ?author .   
  }
limit 100
"""

In [ ]:
# query to get all persons
sparql_query = """
select ?author_id ?author ?author_deathDate ?author_birthDate ?author_familyName ?author_givenName  where {
  ?p schema:author ?author_id .
  ?p schema:author/schema:name ?author .
  ?p schema:author/schema:author/schema:deathDate ?author_deathDate .
  ?p schema:author/schema:author/schema:birthDate ?author_birthDate .
  ?p schema:author/schema:author/schema:familyName ?author_familyName .
  ?p schema:author/schema:author/schema:givenName ?author_givenName . 
   
  }
"""

In [8]:
sparql = SPARQLWrapper(sparql_endpoint)
sparql.setQuery(sparql_query)
sparql.setReturnFormat(JSON)

results = sparql.query().convert()

bindings = results["results"]["bindings"]
data = []

for item in bindings:
    row = {}
    for key in item:
        row[key] = item[key]["value"]
    data.append(row)

df = pd.DataFrame(data)

# Panda settings for showing data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

#output_file = folderlink+folder_output+"nbt_q10.csv"
#df.to_csv(output_file, sep=';', encoding='utf-8', index=False)

df.describe()

                                                   per
count                                              100
unique                                              99
top     http://data.bibliotheken.nl/id/thes/p412423480
freq                                                 2

In [9]:
df.head(50)

                                               per
0   http://data.bibliotheken.nl/id/thes/p412758822
1   http://data.bibliotheken.nl/id/thes/p412423480
2   http://data.bibliotheken.nl/id/thes/p412423480
3   http://data.bibliotheken.nl/id/thes/p413545709
4   http://data.bibliotheken.nl/id/thes/p410757357
5   http://data.bibliotheken.nl/id/thes/p411295616
6   http://data.bibliotheken.nl/id/thes/p419521704
7   http://data.bibliotheken.nl/id/thes/p419626158
8   http://data.bibliotheken.nl/id/thes/p419329145
9   http://data.bibliotheken.nl/id/thes/p418096252
10  http://data.bibliotheken.nl/id/thes/p411106600
11  http://data.bibliotheken.nl/id/thes/p413864464
12  http://data.bibliotheken.nl/id/thes/p419308164
13  http://data.bibliotheken.nl/id/thes/p416435920
14  http://data.bibliotheken.nl/id/thes/p416445713
15  http://data.bibliotheken.nl/id/thes/p416331459
16  http://data.bibliotheken.nl/id/thes/p420876138
17  http://data.bibliotheken.nl/id/thes/p413743918
18  http://data.bibliotheken.nl/id/thes/p422559660
19  http://data.bibliotheken.nl/id/thes/p421635711
20  http://data.bibliotheken.nl/id/thes/p416807194
21  http://data.bibliotheken.nl/id/thes/p422638544
22  http://data.bibliotheken.nl/id/thes/p422779172
23  http://data.bibliotheken.nl/id/thes/p421493887
24  http://data.bibliotheken.nl/id/thes/p421436727
25  http://data.bibliotheken.nl/id/thes/p421464992
26  http://data.bibliotheken.nl/id/thes/p420568425
27  http://data.bibliotheken.nl/id/thes/p420842861
28  http://data.bibliotheken.nl/id/thes/p412490579
29  http://data.bibliotheken.nl/id/thes/p422792926
30  http://data.bibliotheken.nl/id/thes/p422686042
31  http://data.bibliotheken.nl/id/thes/p420991654
32  http://data.bibliotheken.nl/id/thes/p422210293
33  http://data.bibliotheken.nl/id/thes/p419626824
34  http://data.bibliotheken.nl/id/thes/p413698866
35  http://data.bibliotheken.nl/id/thes/p422242195
36  http://data.bibliotheken.nl/id/thes/p422478415
37  http://data.bibliotheken.nl/id/thes/p416278469
38  http://data.bibliotheken.nl/id/thes/p421075732
39  http://data.bibliotheken.nl/id/thes/p422914207
40  http://data.bibliotheken.nl/id/thes/p413664538
41  http://data.bibliotheken.nl/id/thes/p419763295
42  http://data.bibliotheken.nl/id/thes/p422628204
43  http://data.bibliotheken.nl/id/thes/p236111000
44  http://data.bibliotheken.nl/id/thes/p422792713
45  http://data.bibliotheken.nl/id/thes/p418056862
46  http://data.bibliotheken.nl/id/thes/p419925600
47  http://data.bibliotheken.nl/id/thes/p425876454
48  http://data.bibliotheken.nl/id/thes/p41129606X
49  http://data.bibliotheken.nl/id/thes/p410725986

In [ ]:
output_file = folderlink+folder_output+"authors_thesaurus.csv"
df.to_csv(output_file, sep=';', encoding='utf-8', index=False)