In [2]:
import pandas as pd
import os
from SPARQLWrapper import SPARQLWrapper, JSON
import sparql_pandas

In [3]:
folderlink = '..//data//'
input_folder = 'input//'
folder_output = 'output//'
ddrc_file = 'parent_data.csv'
input_file = os.path.join(folderlink+folder_output, ddrc_file)

In [4]:
sparql_endpoint = "http://data.bibliotheken.nl/sparql"

In [5]:
# query to get all persons from kb endpoint
sparql_query = """
select ?per where {
  ?per a schema:Person .
  ?per schema:name ?author .   
  }
"""

In [6]:
result_dataframe = sparql_pandas.sparql_to_dataframe(sparql_endpoint, sparql_query)

In [7]:
output_file = folderlink+folder_output+"output27071.csv"
result_dataframe.to_csv(output_file, sep=';', encoding='utf-8', index=False)

In [8]:
result_dataframe.describe()

                                                   per
count                                          1048576
unique                                         1023138
top     http://data.bibliotheken.nl/id/thes/p068586787
freq                                                 4

In [9]:
result_dataframe.head()

                                              per
0  http://data.bibliotheken.nl/id/thes/p412758822
1  http://data.bibliotheken.nl/id/thes/p412423480
2  http://data.bibliotheken.nl/id/thes/p412423480
3  http://data.bibliotheken.nl/id/thes/p413545709
4  http://data.bibliotheken.nl/id/thes/p410757357